################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EFAppGitit/v17/.wsuo
/.vs/WebApplication1/FileContentIndex/0f4c31b1-e70f-4b44-8d9d-12b8749c0248.vsidx
/.vs/WebApplication1/config/applicationhost.config
/.vs/WebApplication1/FileContentIndex
